---
layout: default
title: Streamdata.io API Gallery - Entities
---

{% assign listing_object = site.data.entities %}

{% assign entity_count = 0 %}
{% for entity in listing_object %}
  {% assign entity_count = entity_count | plus: 1 %}
{% endfor %}

<div class="shortMasthead  shortMasthead--extra-top-padding ">
     {% include api-listing-feature.html %}
</div>

<section class="taggedLinkCards">
  <p align="center"><strong>There Are {{ entity_count }} Entities Being Profiled Currently</strong></p>
  <div class="taggedLinkCards__cards" id="listing">
    {% for item in listing_object %}
       <div class="taggedLinkCard taggedLinkCard--red" data-platform="html5" id="entity-{% increment counter %}">
          <div class="taggedLinkCard__container enterAnimation enterAnimation--active" data-enter-animation="">
             <div class="taggedLinkCard__upper" style="background-color:#FFF;">
                <a href="{{ item.url }}"><img src="{{ item.image }}" class="taggedLinkCard__image" alt=""></a>
             </div>
             <div class="taggedLinkCard__lower">
                <div class="taggedLinkCard__copy">
                   <h3 class="taggedLinkCard__title"><a href="{{ item.url }}">{{ item.label }}</a></h3>
                   <p class="taggedLinkCard__body">{{ item.description }}</p>
                </div>
             </div>
          </div>
       </div>
    {% endfor %}
  </div>
  <p align="center"><a href="/all/"><strong>See All The Entities Being Profiled Currently</strong></a></p>
</section>
<div class="submitApi__overflowContainer" data-submit-api="">
   <div class="submitApi submitApi--left-hand-image">

     {% include api-listing-submit.html %}

   </div>
</div>
