---
layout: default
title: Streamdata.io API Gallery
---

<style>
  #double li  { width:50%;}
  #triple li  { width:33.333%; }
  #quad li    { width:25%; }
  #six li     { width:16.666%; }
</style>

{% assign org_count = 0 %}
{% assign organizations = site.data.organizations | sort: 'label' %}
{% for organization in organizations %}
  {% assign org_count = org_count | plus: 1 %}
{% endfor %}

<div class="shortMasthead  shortMasthead--extra-top-padding ">
  <h1 class="shortMasthead__headline enterAnimation enterAnimation--active" data-enter-animation="">{{ page.title }}</h1>
  <p align="center"><strong>{{ org_count }} entities with {{ path_count }} API paths spanning {{ topic_count }} topics</strong></p>
</div>

<div id="orgList">

  <div class="topiccenter">
    <h1>APIs by Entity</h1>
    {% assign organizations = site.data.organizations | sort: 'label' %}
    <ul id="double" style="padding-top: 10px; padding-left: 20px;">
      {% for organization in organizations %}
        <li>&rarr; <a href="{{ organization.url }}" target="_blank">{{ organization.label }}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>

<div class="submitApi__overflowContainer" data-submit-api="">
   <div class="submitApi submitApi--left-hand-image">

     {% include api-listing-submit.html %}

   </div>
</div>
