---
layout: default
title: Streamdata.io API Gallery - API Lifecycle
---

{% assign listing_object = site.data.lifecycle %}

{% assign tag_count = 0 %}
{% assign entity_count = 0 %}
{% for item in listing_object %}
  {% assign tag_count = tag_count | plus: 1 %}
   {% for listing in item[1] %}
      {% assign entity_count = entity_count | plus: 1 %}
   {% endfor %}
{% endfor %}

<div class="shortMasthead  shortMasthead--extra-top-padding ">
     {% include api-listing-feature.html %}
</div>

<section class="taggedLinkCards">

  <script>

    function searchEntities()
      {
      search_keywords = document.getElementById('search_keywords').value;

      console.log("searching for: " + search_keywords);

      pull_url = [];
      entity = [];

      jQuery.ajax({
         url: "https://raw.githubusercontent.com/streamdata-gallery-master/entities/master/_data/entities.yaml",
         method: "get",
         success:function(entities){

              jQuery.each(jsyaml.load(entities), function(rowKey, rowEntry) {

                  entity[rowKey] = [];
                  entity[rowKey]['org_label'] = rowEntry['label'];
                  entity[rowKey]['org_slug'] = rowEntry['slug'];
                  entity[rowKey]['org_url'] = rowEntry['url'];
                  entity[rowKey]['org_image'] = rowEntry['image'];

                  entity[rowKey]['org_url'] = 'https://raw.githubusercontent.com/streamdata-gallery-organizations/' + entity[rowKey]['org_slug'] + '/master/_listings/' + entity[rowKey]['org_slug'] + '/apis.md';
                  console.log(entity[rowKey]['org_url']);

                  jQuery.ajax({
                     url: entity[rowKey]['org_url'],
                     method: "get",
                     success:function(apisjson_index_response){

                          entity[rowKey] = [];
                          entity[rowKey]['apisjson_index_response'] = apisjson_index_response.replace("---","");
                          entity[rowKey]['apisjson_index_response'] = entity[rowKey]['apisjson_index_response'].replace("---","");
                          entity[rowKey]['apisjson_index_yaml'] = jsyaml.load(entity[rowKey]['apisjson_index_response']);

                          console.log("HERE: " + entity[rowKey]['apisjson_index_yaml']['name']);

                          entity[rowKey]['apis_name'] = entity[rowKey]['apisjson_index_yaml']['name'];
                          entity[rowKey]['apis_description'] = entity[rowKey]['apisjson_index_yaml']['description'];
                          entity[rowKey]['apis_slug'] = entity[rowKey]['apisjson_index_yaml']['x-api-slug'];

                          console.log(entity[rowKey]['apis_name']);

                          console.log("searching: " + search_keywords);

                          entity[rowKey]['search_apis_name'] = entity[rowKey]['apisjson_index_yaml']['name'].search(search_keywords);
                          entity[rowKey]['search_apis_description'] = entity[rowKey]['apisjson_index_yaml']['description'].search(search_keywords);

                          if(entity[rowKey]['search_apis_name'] > 1 && entity[rowKey]['search_apis_description'] > 1)
                            {

                            // Just APIs for now.
                            console.log("api:" + entity[rowKey]['apis_name'] + ' = ' + entity[rowKey]['apis_description'] + ' - ' + entity[rowKey]['apis_slug']);

                            var searchdiv = document.createElement("div");
                            searchdiv.setAttribute('class', "taggedLinkCard taggedLinkCard--red");
                            searchdiv.setAttribute('data-platform', "html5 taggedLinkCard--red");
                            searchdiv.setAttribute('id', "entity-"+entity[rowKey2]['apis_slug']);
                            searchdiv.setAttribute('style', "border: 1px #000");
                            document.getElementById("searchlisting").appendChild(searchdiv);

                            html = '';
                            //html = '<div class="taggedLinkCard taggedLinkCard--red" data-platform="html5">';
                            html = html + '<div class="taggedLinkCard__container enterAnimation enterAnimation--active" data-enter-animation="">';
                            html = html + '<div class="taggedLinkCard__upper" style="background-color:#FFF;">';
                            html = html + '<a href="#"><img src="' + entity[rowKey]['org_image'] + '" class="taggedLinkCard__image" alt=""></a>';
                            html = html + '</div>';
                            html = html + '<div class="taggedLinkCard__lower">';
                            html = html + '<div class="taggedLinkCard__copy">';
                            html = html + '<h3 class="taggedLinkCard__title"><a href="#">' + entity[rowKey]['apis_name'] + '</a></h3>';
                            html = html + '<p class="taggedLinkCard__body">' + entity[rowKey]['apis_description'] + '</p>';
                            html = html + '</div>';
                            html = html + '</div>';
                            html = html + '</div>';
                            //html = html + '</div>';

                            document.getElementById("entity-"+apis_slug).innerHTML = html;
                            }

                      },
                      error: function(XMLHttpRequest, textStatus, errorThrown) {
                          console.log('COULD NOT RESOLVE: ' + pull_url[rowKey]);
                      }
                  });
                  // End spidering of all entities
                    //console.log("-------------------");

                });
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
              //console.log("Status: " + textStatus);
              //console.log("Error: " + errorThrown);
          }
      });

      }
  </script>

  <center>
    <form name="entity-search">
      <input type="text" name="search_keywords" id="search_keywords" value="">
      <input type="button" name="search_button" value="Search" onclick="searchEntities();">
    </form>
  </center>
  <hr />
  <div class="taggedLinkCards__cards" id="searchlisting"></div>
</section>
<div class="submitApi__overflowContainer" data-submit-api="">
   <div class="submitApi submitApi--left-hand-image">

     {% include api-listing-submit.html %}

   </div>
</div>
