---
layout: default
title: Streamdata.io API Gallery - API Lifecycle
---

{% assign listing_object = site.data.lifecycle %}

{% assign tag_count = 0 %}
{% assign entity_count = 0 %}
{% for item in listing_object %}
  {% assign tag_count = tag_count | plus: 1 %}
   {% for listing in item[1] %}
      {% assign entity_count = entity_count | plus: 1 %}
   {% endfor %}
{% endfor %}

<div class="shortMasthead  shortMasthead--extra-top-padding ">
     {% include api-listing-feature.html %}
</div>

<section class="taggedLinkCards">

  <script>

    function searchEntities()
      {
      search_keywords = document.getElementById('search_keywords').value;
      console.log("searching for: " + search_keywords);

      var response = jQuery.ajax({
         url: "https://raw.githubusercontent.com/streamdata-gallery-master/entities/master/_data/entities.yaml",
         method: "get",
         success:function(response){
              //console.log("successfully pulled");
              $yaml_index = jsyaml.load(response);
              //console.log($yaml_index);
              jQuery.each($yaml_index, function($rowKey, $rowEntry) {

                  //console.log($rowKey + " = " + $rowEntry);

                  entity_label = $rowEntry['label'];
                  entity_slug = $rowEntry['slug'];
                  entity_url = $rowEntry['url'];
                  entity_image = $rowEntry['image'];

                  // Begin spidering of all entities

                  apisjson_index_url = 'https://raw.githubusercontent.com/streamdata-gallery-organizations/' + entity_slug + '/master/_listings/' + entity_slug + '/apis.md';

                  console.log("searching... " + entity_label);
                  console.log("at URL... " + apisjson_index_url);

                  var response2 = jQuery.ajax({
                     url: apisjson_index_url,
                     method: "get",
                     success:function(response){

                          response = response.replace("---","");
                          response = response.replace("---","");

                          $yaml_index_2 = jsyaml.load(response);

                          console.log("HERE 3: " + $yaml_index_2[0]);

                          apis_json_name = $yaml_index_2[0]['name'];
                          apis_json_description = $yaml_index_2[0]['description'];

                          console.log("api.json:" + apis_json_name + ' = ' + apis_json_description);


                      },
                      error: function(XMLHttpRequest, textStatus, errorThrown) {
                          console.log("Status: " + textStatus);
                          console.log("Error: " + errorThrown);
                      }
                  });
                  // End spidering of all entities
                    console.log("-------------------");

                });
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
              console.log("Status: " + textStatus);
              console.log("Error: " + errorThrown);
          }
      });

      }
  </script>

  <form name="entity-search">
    <input type="text" name="search_keywords" id="search_keywords" value="">
    <input type="button" name="search_button" value="Search" onclick="searchEntities();">
  </form>

</section>
<div class="submitApi__overflowContainer" data-submit-api="">
   <div class="submitApi submitApi--left-hand-image">

     {% include api-listing-submit.html %}

   </div>
</div>
