---
layout: default
title: Streamdata.io API Gallery - API Lifecycle
---

{% assign listing_object = site.data.lifecycle %}

{% assign tag_count = 0 %}
{% assign entity_count = 0 %}
{% for item in listing_object %}
  {% assign tag_count = tag_count | plus: 1 %}
   {% for listing in item[1] %}
      {% assign entity_count = entity_count | plus: 1 %}
   {% endfor %}
{% endfor %}

<div class="shortMasthead  shortMasthead--extra-top-padding ">
     {% include api-listing-feature.html %}
</div>

<section class="taggedLinkCards">

  <script>

    function searchEntities()
      {
      search_keywords = document.getElementById('search_keywords').value;
      console.log("searching for: " + search_keywords);

      var response = jQuery.ajax({
         url: "https://raw.githubusercontent.com/streamdata-gallery-master/entities/master/_data/entities.yaml",
         method: "get",
         success:function(entities){

              //console.log($yaml_index);
              jQuery.each(jsyaml.load(entities), function($rowKey, $rowEntry) {

                  entity_label = $rowEntry['label'];
                  entity_slug = $rowEntry['slug'];
                  entity_url = $rowEntry['url'];
                  entity_image = $rowEntry['image'];

                  var response2 = jQuery.ajax({
                     url: 'https://raw.githubusercontent.com/streamdata-gallery-organizations/' + entity_slug + '/master/_listings/' + entity_slug + '/apis.md',
                     method: "get",
                     success:function(apisjson_index_response){

                          apisjson_index_response = apisjson_index_response.replace("---","");
                          apisjson_index_response = apisjson_index_response.replace("---","");

                          try
                            {
                            $yaml_index_2 = jsyaml.load(apisjson_index_response);

                            jQuery.each($yaml_index_2['apis'], function($rowKey2, $rowEntry2) {

                                apis_name = $rowEntry2['name'];
                                apis_description = $rowEntry2['description'];
                                apis_slug = $rowEntry2['x-api-slug'];

                                $search_apis_name = apis_name.search(search_keywords);
                                $search_apis_description = apis_description.search(search_keywords);

                                if($search_apis_name > 1 && $search_apis_description > 1)
                                  {

                                  // Just APIs for now.
                                  console.log("api:" + apis_name + ' = ' + apis_description + ' - ' + apis_slug);
                                  //console.log("3:" + $search_apis_name);
                                  //console.log("3:" + $search_apis_description);

                                  var searchdiv = document.createElement("div");
                                  searchdiv.setAttribute('class', "taggedLinkCard taggedLinkCard--red");
                                  searchdiv.setAttribute('data-platform', "html5 taggedLinkCard--red");
                                  searchdiv.setAttribute('id', "entity-"+apis_slug);
                                  document.getElementById("searchlisting").appendChild(searchdiv);

                                  //html = '<div class="taggedLinkCard taggedLinkCard--red" data-platform="html5">';
                                  html = html + '<div class="taggedLinkCard__container enterAnimation enterAnimation--active" data-enter-animation="">';
                                  html = html + '<div class="taggedLinkCard__upper" style="background-color:#FFF;">';
                                  html = html + '<a href="#"><img src="' + apis_json_image + '" class="taggedLinkCard__image" alt=""></a>';
                                  html = html + '</div>';
                                  html = html + '<div class="taggedLinkCard__lower">';
                                  html = html + '<div class="taggedLinkCard__copy">';
                                  html = html + '<h3 class="taggedLinkCard__title"><a href="#">' + apis_name + '</a></h3>';
                                  html = html + '<p class="taggedLinkCard__body">' + apis_name + '</p>';
                                  html = html + '</div>';
                                  html = html + '</div>';
                                  html = html + '</div>';
                                  //html = html + '</div>';

                                  document.getElementById("entity-"+apis_slug).innerHTML = html;
                                  }

                              });

                            }
                          catch(err)
                            {
                              console.log("BAD YAML FOR: " + entity_label);
                            }

                      },
                      error: function(XMLHttpRequest, textStatus, errorThrown) {
                          //console.log("Status: " + textStatus);
                          //console.log("Error: " + errorThrown);
                          console.log('COULD NOT RESOLVE: https://raw.githubusercontent.com/streamdata-gallery-organizations/' + entity_slug + '/master/_listings/' + entity_slug + '/apis.md');
                      }
                  });
                  // End spidering of all entities
                    //console.log("-------------------");

                });
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
              //console.log("Status: " + textStatus);
              console.log("Error: " + errorThrown);
          }
      });

      }
  </script>

  <center>
    <form name="entity-search">
      <input type="text" name="search_keywords" id="search_keywords" value="">
      <input type="button" name="search_button" value="Search" onclick="searchEntities();">
    </form>
  </center>
  <hr />
  <div class="taggedLinkCards__cards" id="searchlisting"></div>
</section>
<div class="submitApi__overflowContainer" data-submit-api="">
   <div class="submitApi submitApi--left-hand-image">

     {% include api-listing-submit.html %}

   </div>
</div>
