<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, minimum-scale=1.0">
      <meta name="theme-color" content="#01c1d5">

      <link rel="stylesheet" href="http://template.api.gallery.streamdata.io/assets/style.css">
      <link href="http://template.api.gallery.streamdata.io/assets/font.css" rel="stylesheet">

      <link rel="stylesheet" href="http://template.api.gallery.streamdata.io/assets/style.css">
      <link href="http://template.api.gallery.streamdata.io/assets/font.css" rel="stylesheet">
      <link rel="apple-touch-icon" sizes="180x180" href="http://template.api.gallery.streamdata.io/assets/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="http://template.api.gallery.streamdata.io/assets/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="http://template.api.gallery.streamdata.io/assets/favicon-16x16.png">
      <link rel="manifest" href="http://template.api.gallery.streamdata.io/assets/manifest.json">
      <link rel="mask-icon" href="http://template.api.gallery.streamdata.io/assets/safari-pinned-tab.svg" color="#ff4040">
      <meta name="theme-color" content="#ffffff">

      <title>Streamdata.io API Gallery</title>

      <!-- This site is optimized with the Yoast SEO plugin v6.2 - https://yoa.st/1yg?utm_content=6.2 -->
      <meta name="description" content="Have a look at some APIs and see how they&#39;ve benefitted from our realtime data streaming such as BitcoinAverage.com, New York CitiBike, GitHub Events, The Guardian, and more.">
      <link rel="canonical" href="https://streamdata.io/developers/api-gallery/">

      <meta property="og:locale" content="en_US">
      <meta property="og:type" content="article">
      <meta property="og:title" content="API Gallery to evaluate API polling versus event-driven streaming">
      <meta property="og:description" content="Have a look at some APIs and see how they&#39;ve benefitted from our realtime data streaming such as BitcoinAverage.com, New York CitiBike, GitHub Events, The Guardian, and more.">
      <meta property="og:url" content="https://streamdata.io/developers/api-gallery/">
      <meta property="og:site_name" content="Streamdata.io">

      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:description" content="Have a look at some APIs and see how they&#39;ve benefitted from our realtime data streaming such as BitcoinAverage.com, New York CitiBike, GitHub Events, The Guardian, and more.">
      <meta name="twitter:title" content="API Gallery to evaluate API polling versus event-driven streaming">

      <link rel="stylesheet" id="contact-form-7-css" href="http://template.api.gallery.streamdata.io/assets/styles.css" type="text/css" media="all">

      <script type="text/javascript" src="http://template.api.gallery.streamdata.io/assets/jquery.js"></script>
      <script type="text/javascript" src="http://template.api.gallery.streamdata.io/assets/jquery-migrate.min.js"></script>

      <script src="/assets/jquery.awesomeCloud-0.2.min.js"></script>

      <style type="text/css">
  			.wordcloud {
  				border: 0px solid #FFF;
  				height: 8in;
  				margin: 5px auto;
  				padding: 0;
  				page-break-after: always;
  				page-break-inside: avoid;
  				width: 90%;
  			}
  		</style>

      <script type="text/javascript" src="http://entities.api.gallery.streamdata.io/assets/js-yaml.min.js"></script>

   </head>
