---
layout: default
title: Streamdata.io API Gallery - API Lifecycle
---

{% assign listing_object = site.data.lifecycle %}

{% assign tag_count = 0 %}
{% assign entity_count = 0 %}
{% for item in listing_object %}
  {% assign tag_count = tag_count | plus: 1 %}
   {% for listing in item[1] %}
      {% assign entity_count = entity_count | plus: 1 %}
   {% endfor %}
{% endfor %}

<div class="shortMasthead">
     {% include api-listing-feature.html %}
</div>

<section class="taggedLinkCards">
  <p align="center"><strong>There Are {{ entity_count }} Entities Within {{ tag_count }} Stops Along The Lifecycle</strong></p>
  <div class="taggedLinkCards__cards" id="listing">
    {% for item in listing_object %}
       <p style="padding: 10px; font-size 34px; font-weight: bold;"><strong>{{ item[0] }}</strong></p>
       <ul style="padding-left: 15px;">
       {% for listing in item[1] %}
          <li style="margin-left: 15px; padding-left: 15px; list-style: circle;"> - <a href="{{ listing.website }}" style="color:#000;"><strong>{{ listing.name }}</strong></a> (<a href="{{ listing.website }}"><strong>website</strong></a>){% if listing.twitter != '' %} (<a href="{{ listing.twitter }}"><strong>@twitter</strong></a>){% endif %}{% if listing.github != '' %} (<a href="{{ listing.github }}"><strong>@github</strong></a>){% endif %}</li>
       {% endfor %}
     </ul>
    {% endfor %}
  </div>


</section>
<div class="submitApi__overflowContainer" data-submit-api="">
   <div class="submitApi submitApi--left-hand-image">

     {% include api-listing-submit.html %}

   </div>
</div>
